.bottom {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 3rem 2rem;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
  margin-top: -20px;
}

.bottom-title {
  color: var(--main-yellow);
  font-family: var(--title-font);
  font-size: 24px;
  margin-bottom: 1rem;
}

.bottom-text {
  font-family: var(--main-font);
  font-weight: 300;
  margin-bottom: 1rem;
}

hr {
  margin: 32px;
  width: 100%;
  border-color: var(--background-color-lighter);
}

.subscribe-input {
  font-family: var(--main-font);
  color: var(--white);

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color-tertiary);
  height: 36px;
  border-radius: 16px;

  border: 0;
  width: 80%;
  padding: 0 1em 0 1em;
}

.subscribe-input::placeholder {
  background: url("../img/email.svg") no-repeat;
  background-position: 0.5em;
  padding-left: 3em;
}

/* NOT VISIBLE IN THE MOBILE VERSION */
.bottom-menu {
  display: none;
}

@media screen and (min-width: 1024px) {
  .bottom {
    padding: 4rem 2rem 5rem 1rem;
    border-radius: 32px 32px 0 0;
    margin-top: -20px;
  }

  .bottom-title {
    font-size: 32px;
    margin-bottom: 1rem;
  }

  .bottom-text {
    font-size: 24px;
    margin-bottom: 0.5rem;
  }

  .subscribe-input {
    font-size: 1.2rem;
    height: 48px;
    width: 50%;
    margin: 1.5rem 0;
  }

  .bottom-menu {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 2rem;
  }

  .bottom-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bottom-menu-list-title {
    color: var(--secondary-text-color);
    font-size: 24px;
  }

  .bottom-menu-list li {
    margin: 0.5rem 0;
  }

  .bottom-menu-list-item {
    text-decoration: none;
    color: var(--white);
    font-weight: 300;
  }
}
