.carousel {
  padding-top: 36px;
}

.carousel-title {
  color: var(--white);
  text-align: center;
  font-family: var(--title-font);
  font-size: 24px;
  margin-bottom: 24px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: none;
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.swiper-slide img {
  width: 180px;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin-bottom: 16px;
}

.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-color, var(--main-yellow));
}

.swiper {
  width: 100%;
}

/* MEDIA QUERY - TABLET */

@media screen and (min-width: 1024px) {
  .carousel {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .carousel-title {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .swiper-pagination {
    position: initial;
    margin-bottom: 20px;
  }

  .swiper-slide img {
    width: 240px;
  }
}
