.header {
  background-color: var(--background-color-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 90px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.burger-menu {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 48px;
  height: 48px;
  background-image: url(../img/burger-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.button-container {
  display: none;
}

.button-container:checked ~ .menu-list {
  display: block;
}

.menu-list {
  display: none;
  position: absolute;
  top: 80px;
  right: 32px;
  background-color: var(--background-color-secondary);
  padding: 32px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
}

.menu-list__item {
  margin-bottom: 12px;
}

.menu-list__link {
  text-decoration: none;
  color: var(--white);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--main-yellow);
}

.logo-composition {
  display: flex;
  align-items: center;
}

.header-left {
  display: flex;
}

.button-container:checked ~ .label-container > .burger-menu {
  background-image: url(../img/burger-menu-clicked.svg);
  background-color: var(--main-yellow);
}

/* NOT VISIBLE IN THE MOBILE VERSION */
.logo-name,
.nav-menu,
.header-desktop {
  display: none;
}

/* MEDIA QUERY - TABLET */

@media screen and (min-width: 1024px) {
  .logo-name {
    margin: 0 1em;
    display: block;
  }

  .nav-menu {
    display: block;
  }

  .nav-menu-list {
    display: flex;
  }

  .nav-menu-link {
    text-decoration: none;
    color: var(--white);
    padding: 1em;
  }

  .menu-list {
    display: none;
    position: absolute;
    top: 80px;
    right: auto;
    background-color: var(--background-color-secondary);
    padding: 32px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
  }

  .header-icons a {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  /* NOT VISIBLE IN THE TABLET BREAKPOINT */

  .burger-menu {
    display: none;
  }
}

/* MEDIA QUERY - DESKTOP */

@media screen and (min-width: 1728px) {
  .header-desktop {
    display: block;
  }
}
