.burger-menu {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 48px;
  height: 48px;
  background-image: url(../img/burger-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
