.suggestion-center {
  display: flex;
  justify-content: center;
}

.suggestion {
  background-color: var(--background-color-lighter);
  margin: 32px 32px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  max-width: 400px;
}

.suggestion-content {
  padding-right: 16px;
}

.suggestion-title {
  font-family: var(--title-font);
  font-size: 24px;
  margin-bottom: 16px;
}

.suggestion-text {
  font-weight: 300;
}

.suggestion-image {
  width: auto;
}

.suggestion-image img {
  width: 140px;
}

.suggestion-button {
  background-color: var(--main-yellow);
  color: var(--background-color-lighter);
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  margin-top: 8px;
  padding: 8px;
}

.suggestion-button a {
  text-decoration: none;
  color: var(--background-color-lighter);
  font-weight: 600;
}

/* MEDIA QUERY - TABLET */

@media screen and (min-width: 1024px) {
  .suggestion {
    margin: 60px 60px;
    padding: 32px;
    border-radius: 24px;
    max-width: 600px;
  }

  .suggestion-image img {
    width: 240px;
  }

  .suggestion-title {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .suggestion-text {
    font-size: 24px;
  }

  .suggestion-content {
    padding-right: 32px;
  }
}
